# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/secrets.toml

# Local files
uploaded_videos/*
processed_videos/*
results/*

# Exceptions
!uploaded_videos/.gitkeep
!processed_videos/.gitkeep
!results/.gitkeep
!dashboard/demo/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store